
@{
    ViewBag.Title = "Create";
}

<h2>Nuevo Producto</h2>

<form action="/Producto/Create" method="post">

    <label for="id">Código</label><br />
    <input type="number" name="id" value="" required />

    <br /><br />

    <label for="title">Nombre</label><br />
    <input type="text" name="title" value="" />

    <br /><br />

    <label for="description">Descripción</label><br />
    <input type="text" name="description" value="" />

    <br /><br />

    <label for="marcaid">MarcaId</label><br />
    <input type="text" name="marcaid" value="" />

    <br /><br />

    <label for="image">Imagen</label><br />
    <input type="text" name="image" value="" />

    <br /><br />

    <label for="price">Precio</label><br />
    <input type="text" name="price" value="" />

    <br /><br />

    <label for="AvgStars">Estrellas</label><br />
    <input type="text" name="AvgStars" value="" />

    <br /><br />

    <input type="submit" value="Grabar" />

</form>

