@{ ViewBag.Title = "Acerca de Nosotros!";
                ViewBag.Message = "Equipo 2"; }

<h2>@ViewBag.Title</h2>

<br />

<h3>@ViewBag.Message</h3>


<p><h4>Sebastian Romero</h4></p>
<p><h4>Rodrigo Borquez</h4></p>
<p><h4>Cristian Muller</h4></p>
<p><h4>Gabriel Taglioretti</h4></p>