@{
    ViewBag.Title = "Principal";
}
<br />
<h2> Hardware PC</h2>
<br>

<h3>Quienes somos</h3>
<p>
    Somos una tienda con más 17 años dentro del rubro tecnológico en Argentina. Nos dedicamos a la venta de computadoras, notebooks, hardware y productos periféricos para consumidores particulares, empresas o revendedores.
    Marcas como Asus, SkullCandy, MSI, Gigabyte, Kingston, Intel, Nvidia, HP, Epson, Samsung y Western Digital nos han hecho sus representantes oficiales en el país.
    En HardwarePC encontrarás todo lo que compone la PC de tus sueños. Conocemos nuestros productos y por ello te asesoramos para que hagas una compra personalizada a la altura de tus necesidades.
</p>

<h3>Nuestro público</h3>
<p>
    <strong>Particular:</strong> nos especializamos en entusiastas de PC Gamers y hardware de alta gama. De igual forma, tenemos equipos y piezas para cubrir cualquier necesidad o requerimiento.
</p>
<p>
    <strong>Corporativo:</strong> brindamos soluciones a la medida de cada empresa. Productos de alta calidad, atención inmediata en licencia y soporte.
</p>
<p>
    <strong>Revendedores:</strong> queremos que crezcas con nosotros, para ello disponemos de descuentos especiales pensando en tu beneficio.
</p>