
@{
    ViewBag.Title = "Politica_garantia";
}

<h2>Política de Garantía</h2>
<br />

<p>
    El periodo de garantía, expresado en meses, de un producto vendido por HARDWARE PC,
    es el indicado, junto a la descripción del articulo, entre paréntesis al dorso de la factura,
    y rige a partir de la fecha de la documentación. Es requisito, para formular cualquier reclamo
    en garantía, la presentación del comprobante.Si a cualquiera de las ofertas publicadas se le
    agregan otros componentes, la garantía de estos será independiente de la pc ofertada, tomándose
    la misma como la del elemento suelto Si el cliente dejase una seña y no concretara la operación
    luego de 30 días corridos, HARDWARE PC no se responsabilizara por el destino del dinero ni de la
    mercadería señada. En este caso el cliente no tendrá nada que reclamarle a la empresa. HARDWARE PC
    no brinda garantía directa por aquellos productos que garantizan particularmente un fabricante o
    marca, debiendo en esos casos recurrir al agente técnico autorizado que esta haya nombrado a tal
    fin. Se cubrirán todos los defectos que surjan del uso normal de los equipos, siempre y cuando se
    hayan respetado todas las especificaciones de trabajo y rangos establecidos de operación que constan
    en los manuales que acompañan a cada unidad. Todo lo que se encuentre fuera de esta condición,
    será motivo suficiente de exclusión del producto del régimen de garantía. Los trabajos en garantía
    serán realizados exclusivamente en las instalaciones de HARDWARE PC. Y por personal que este designe.
    Cualquier intervención ajena, que a juicio del personal técnico de HARDWARE PC, haya perjudicado o
    pueda perjudicar el buen funcionamiento de un producto, como ser virus, golpe, maltrato, rayones,
    falta de etiqueta de serializacion o negligencia, será razón para la exclusión de la garantía.
    Las computadoras que tengan deteriorada, levantada o carezcan de faja de garantía, no tendrán
    derecho a reclamo ante diferencias entre lo facturado y lo entregado, así como también podrán
    perder la garantía si los técnicos de HARDWARE PC detecten anomalías dentro de ella. Todo producto
    quemado será considerado fuera de garantía por haber sufrido golpe de tensión externa ajena al
    mismo. Asimismo HARDWARE PC no se hace responsable por daño emergente ni lucro cesante,
    ya sea del propio cliente o de terceros, originando en la eventual falla de los productos
    entregados. En caso de que el producto sea un medio magnético, HARDWARE PC no se hace responsable
    por la información allí almacenada. Todos los productos son entregados por HARDWARE PC con su
    identificación, rotulado, orígenes, procedencias y manuales en castellano de acuerdo a las
    normas legales que rigen en la materia. En ningún caso HARDWARE PC deberá reemplazar el producto
    en falla por uno nuevo sin que este sea revisado por sus técnicos y estos determinen el estado
    del mismo. HARDWARE PC podrá tardar hasta 30 días en la resolución de la garantía. El producto
    puede ser reparado o reemplazado según considere el fabricante del mismo. En el caso de que el
    producto en garantía estuviese discontinuado en el mercado informática y fuera imposible su
    reparación. HARDWARE PC podrá entregar su reemplazo mas actualizado y cobrar la diferencia
    entre el producto original y el entregado. Los gastos de traslado y de flete, desde y
    hacia nuestras instalaciones, son a cargo del cliente Para el cumplimiento de la garantía,
    deberá presentarse el interesado con la factura correspondiente a nuestras instalaciones, y
    el producto en perfectas condiciones con envoltura original, manuales, etiquetas, pudiendo
    hacer consultas técnicas a INFO@HARDWARE PC.COM.AR Si el cliente no retirase el producto dejado
    en reparación luego de 30 días de corrido, HARDWARE PC no se responsabilizara por su destino.
    En este caso el cliente no tendrá nada que reclamarle a la empresa. No se dará soporte técnico
    por fallas ni entrenamiento de software que HARDWARE PC no haya vendido. La mercadería viaja
    por cuenta y orden del comprador, y será enviada de acuerdo con las instrucciones del mismo.
    De no mediar instrucciones, HARDWARE PC determinara el medio y oportunidad del transporte.
    En todos los casos el flete corre por cuenta y orden del comprador. Eventuales daños emergentes
    del transporte no serán responsabilidad de HARDWARE PC. Cualquier reclamo en este sentido debe
    ser dirigido por el comprador a la empresa de transporte. HARDWARE PC hará todo esfuerzo que
    permita un despacho rápido y seguro pero no asume responsabilidad alguna por perdida o demora
    del transporte.
</p>