@{
    ViewBag.Title = "COVID-19";
}
<h1>A tener en cuenta!</h1>

<br>
<h2>COVID-19</h2>
<br>

<div>
    <p>
        Entre todos podemos cuidarnos
        Estimado cliente:
        Como es de público conocimiento, algunas de las localidades habilitaron la apertura de sucursales con horarios especiales. Además seguimos operando con entrega a domicilio para las compras desde HardwarePC.com o venta telefónica, enviando productos para que estés cómodo en tu hogar y te mantengas conectado sin salir de tu casa.

        Para ello, hemos extremado las medidas de seguridad cambiando los protocolos de entrega, para cuidar la salud de todos.

        Te contamos las medidas de extrema seguridad que estamos tomando para las entregas a domicilio para cuidar la salud de todos:

        Al momento de la entrega de tu producto, nuestros conductores usarán desinfectante de manos y/o alcohol en gel
        Te pedimos que colabores manteniendo un metro y medio de distancia de nuestro equipo de entrega, cuando sea posible. Nuestro equipo hará lo mismo
        No te pediremos firma para minimizar contactos innecesarios
        Durante el período de cuarentena nuestro equipo de entrega no ingresará a tu hogar ni desembalará el producto
    </p>
</div>


