<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HwPC</title>
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
</head>
<body>
    <div id="container">
        <!-- Cabecera -->
        <header>
            <a href="/" title="Principal">
                <img class="logo" src="/content/img/logoPaginaLPPA.png" alt="logoHardwarePC" />
            </a>
            <nav>
                <ul>
                    <li><a href="/">Principal</a> </li>
                    <li><a href="/Home/Contact">Contacto</a> </li>
                    <li><a href="/Home/About">COVID-19</a> </li>
                </ul>
            </nav>
        </header>
        <!-- Contenido -->
        <section>
            <article>
                @RenderBody()
            </article>
        </section>

        <!-- Contenido relacionado-->
        <aside id="pub">
            <article>
                <div>
                    <br>
                    <h3>Menu</h3>
                    <div>
                        <ul>
                            <li class="botonesAside"><a href="/JavaScript/Index">Productos</a> </li>
                            <li class="botonesAside"><a href="/JavaScript/Promociones/">Promociones</a> </li>
                            <li class="botonesAside"><a href="/JavaScript/AltaProducto">Alta Producto</a> </li>
                        </ul>
                    </div>
                </div>
            </article>
        </aside>
        <!-- Pie de pagina -->
        <footer>
            <br>
            <br>
            <br>
            <p>&copy; @DateTime.Now.Year - HardwarePC - Términos y Condiciones </p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)


</body>
</html>


