/*IMPORTANTE - No modificar estos estilos, ya que son imprescindibles para que la pagina se vea correctamente.*/
/*https://developer.mozilla.org/es/docs/Web/CSS/overflow*/

/*elementos basicos*/

html, body {
    height: 100%;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

p {
    text-align: justify;
}

/*maqueta - layout*/

#container {
    width: 1300px;
    margin: 0 auto;
}

header {
    display: block;
    background-color: #9f2525;
    padding: 5px 0px;
    margin-bottom: 0px;
    min-height:110px;
}

/*menu horizontal*/

nav ul {
    
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    
    
}

    nav ul li {
        list-style: none;
        display: inline;
        margin-top: 10px;
       
    }

        nav ul li a {
            box-shadow: inset 0px 1px 0px 0px #9acc85;
            background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
            background-color: #74ad5a;
            border: 1px solid #3b6e22;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 13px;
            font-weight: bold;
            padding: 7px 65px;
            text-decoration: none;
        }

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 90px;
}

section {
    background-color: rgba(255, 0, 28, 0.1);
    overflow: auto;
    float: right;
    padding: 0px;
    width: 79%;
    min-height: 700px;
}

aside {
    float: left;
    width: 19%;
    background-color: white;
}

footer {
    position: relative;
    float: none;
    clear: both;
    background-color: #9f2525;
    height: 40px;
    padding: 5px 0;
    min-height: 110px;
}

    footer p {
        color: #fff;
        text-align: center;
    }

span {
    color: #060;
}

strong {
    font-size: 20px;
}

em {
    color: #FFF;
    background-color: #57a9b3;
}

.myButton {
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

    .myButton:hover {
        background-color: #5cbf2a;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

.listaProductos li {
    display: inline;
}


.botonAlta {
    box-shadow: inset 0px 1px 0px 0px #a6827e;
    background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
    background-color: #7d5d3b;
    border-radius: 3px;
    border: 1px solid #54381e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4d3534;
}

    .botonAlta:hover {
        background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
        background-color: #634b30;
    }

    .botonAlta:active {
        position: relative;
        top: 1px;
    }



.botonesAside {
    box-shadow: 3px 4px 0px 0px #899599;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #3a8a9e;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
    margin-bottom:10px;
}

    .botonesAside:hover {
        background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
        background-color: #bab1ba;
    }

    .botonesAside:active {
        position: relative;
        top: 1px;
    }


