@{
    ViewBag.Title = "Index";
}


<style>

    .producto {
        width: calc(33% - 40px);
        margin: 20px;
        height: auto;
        background: rgb(222, 222, 222);
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
        float: left;
    }

    .listado {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    </style>

<div>
    <h1 title="LPPA">
        Productos disponibles
    </h1>

</div>
<hr />




<div class="listado">

    <div class="producto">
       
            <img src="~/Content/img/productos/Auricular.png">
        
            <h2>Auricular Gamer A700</h2>
            <br>
            <p>
                Diámetro del conductor: 40 mm
                Avanzado 7.1 virtual surround
                Reducción de ruido
                Impedancia: 32 ohmios
                Sensibilidad: 105 dB ± 3 dB a 1KHz
                Respuesta de frecuencia: 15Hz-20KHz
            </p>
    </div>
    <div class="producto">
        
            <img src="~/Content/img/productos/fuente.jpg">
        
        <h2>Fuente thermaltake 850w</h2>
        <p>
            Modelo de la fuente	Smart Pro RGB 850w, SP-850M, Smart M850w
            Cantidad de conectores HDD	6
            Cantidad de conectores SATA	9
            Diámetro del ventilador	120 mm
            Potencia 850 W
        </p>
    </div>

    <div class="producto">
        
            <img src="~/Content/img/productos/mouse.jpg">
        
            <h2>OMEN Mouse 600-Negro</h2>
            <p>
                Conector USB cableado
                6 botones
                Rueda de desplazamiento
                Diseño liviano y ergonómico
                Materiales ligeros y resistentes. Incluso algunos cuentan con materiales antideslizantes.
            </p>
    </div>
</div>